html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
}

blockquote {
    border-left: rgb(221,221,221);
    font-style: italic;
}

.author {
    text-align: right;
}

table {
    width: 100%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

thead {
    background-color: #cccccc;
    text-align: left;
}
thead tr th {
    padding-left: 5px;
}

tbody td {
    border-right: 1px solid #cccccc;
}

tbody tr {
    border-bottom: 1px solid #cccccc;
}

tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}